<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recipeviewer">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipeviewer"
        tools:targetApi="31">

        <!-- 로그인 -->
        <activity android:name=".login.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Recipeviewer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 회원가입 -->
        <activity android:name=".login.RegisterActivity" />
        <!-- 메인 페이지 -->
        <activity android:name=".mainPage.MainPageActivity" />
        <!-- 레시피 상세정보 -->
        <activity android:name=".mainPage.RecipeDetailsActivity" />
        <!-- 레시피 웹뷰 -->
        <activity android:name=".mainPage.WebViewActivity" />
        <!-- 재료추가 -->
        <activity android:name=".AddIngredient.AddIngredientActivity" />
        <!-- 제외재료추가 -->
        <activity android:name=".ExcludedIngredients.ExcludedIngredientsActivity" />
    </application>
</manifest>
